#container{
    
        
}

#row1{
    display:flex;
    justify-content: space-evenly;
    
    
    
}
.rows{
    
}
#row1 > .box1-0:nth-of-type(even){
    background-color: blueviolet;
    border: 1px solid black;
    width: 550px;
    height: 125px;

}

#row1 > .box1-0:nth-of-type(odd){
    background-color: red;
    border: 1px solid black;
    width: 550px;
    height: 125px;
    
}

#row2{
    
    display:flex;
    justify-content: space-evenly;
    
    
}
#row2 > .box1-0:nth-of-type(even){
    background-color: blueviolet;
    border: 1px solid black;
    width: 550px;
    height: 125px;

}

#row2 > .box1-0:nth-of-type(odd){
    background-color: red;
    border: 1px solid black;
    width: 550px;
    height: 125px;
}

#row3{
    display:flex;
    justify-content: space-evenly;
}

#row3 > .box1-0:nth-of-type(even){
    background-color: blueviolet;
    border: 1px solid black;
    width: 550px;
    height: 125px;

}

#row3 > .box1-0:nth-of-type(odd){
    background-color: red;
    border: 1px solid black;
    width: 550px;
    height: 125px;
}

#row4{
    display:flex;
    justify-content: space-evenly;
}
#row4 > .box1-0:nth-of-type(even){
    background-color: blueviolet;
    border: 1px solid black;
    width: 550px;
    height: 125px;

}

#row4 > .box1-0:nth-of-type(odd){
    background-color: red;
    border: 1px solid black;
    width: 550px;
    height: 125px;
}
@media only screen and (max-width: 400px){
    .rows {
    display:flex;
    flex-direction:column;
    
}
}